/* Enter your custom styles here */


.mybg{
	background: linear-gradient(to bottom,#0066c1 0%,#001c73 100%);
	}
	
	.mybandeau1{
		background-image: url("../images/bandeau1.jpg"); 
	}
	
	.mybandeau2{
		background-image: url("../images/bandeau2.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
	}
	
	.mybandeau2a{
		background-image: url("../images/bandeau2a.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		min-width: 350px;
			flex : 1;
	}
	
	
	.mybandeau2b{
		background-image: url("../images/bandeau2b.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		min-width: 350px;
			flex : 1;
	}
	
	.mybandeau3a{
		background-image: url("../images/bandeau3a.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		color : white;
		
	}
	
	.mybandeau3b{
		background-image: url("../images/bandeau3b.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		color : white;
	}
	
	.mybandeau4a{
		background-image: url("../images/bandeau4a.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
	}
	
	.mybandeau4b{
		background-image: url("../images/bandeau4b.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
	}
	
	.mybandeau5a{
		background-image: url("../images/bandeau5a.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		color : white;
		text-align : center;
		min-width: 350px;
		flex: 1;
	}
	
	.myText{
		color: white;
		font-family: "Merriweather Sans";
	}
	
	.myBlackText{
		color: black;
		font-family: "Merriweather Sans";
	}
	
	.mybandeau5b{
		background-image: url("../images/bandeau5b.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		min-width: 50%;
		flex : 1;
		
	}
	
	.mybandeau6a{
		background-image: url("../images/bandeau6a.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		min-width: 350px;
			flex : 1;
	}
	
	
	.mybandeau6b{
		background-image: url("../images/bandeau6b.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;  
		min-width: 350px;
			flex : 1;
	}
	
	.mybandeau7{
		background : linear-gradient(to bottom,#ffffff  0%,#898a8c 100%);
	}
	
	.myMainFlex{
		position: relative;
	/*	width: 1440px;   */
		width: 1366px;
		height: 688px;
		background-color:#dceef0;
	}
	.myMainFlexHeader{
		position: relative;
		height: 88px;
		left: 0px;
		right: 0px;
		top: 0px;
		width: 1366px;
			background-image: url("../images/01-entete-1366x88px.jpg");
	}
	
	.MenuFlex{
		position: relative;
		width: 1366px;  
		height: 490px;
		background: #FFFFFF;
	}
	
	
	.RulesFlex{
		position: relative;
		width: 1366px;
		height: 600px;
		background: #dceef0;
		}
	
	
	.RulesFlex-images{
		position: absolute;
		height: 440px;
		left: 735px;
		right: 165px;
		top: calc(50% - 440px/2);
        background-image: url("../images/07-regles-466x440px.png");
	}
	.RulesFlex-img{
		position: absolute;
		width: 40px;
		height: 40px;
		left: calc(50% - 40px/2);
		top: calc(50% - 40px/2);
	}
	
	.RulesFlex-content{
	/* content */
		
	/* Auto Layout */
	
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
	
		position: absolute;
		width: 540px;
		height: 290px;
		left: 165px;
		top: calc(50% - 290px/2);
	
	}
	
	.RulesFlex-content-titre{
		position: static;
		height: 120px;
		left: 0px;
		right: 0px;
		top: calc(50% - 120px/2 - 85px);
		
		/* H3 - bold 32 (40, 0.1px) */
		
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 40px;
		/* or 125% */
		
		letter-spacing: 0.1px;
		
		/* Light / Black */
		
		color: #373F41;
	
	
	}
	
	
	.RulesFlex-content-cols{
	/* Auto Layout */
	
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;
	
		position: static;
		height: 114px;
		left: 0px;
		right: 0px;
		top: 176px;
	
	}
	
	.RulesFlex-content-col{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		
		position: static;
		width: 255px;
		height: 114px;
		left: 285px;
		top: 0px;
	
	}
	
	.RulesFlexMargin{
		margin: 0px 30px;	
	}
	
	.RulesFlex-content-sstitre{
		
		position: static;
		height: 66px;
		left: 0px;
		right: 0px;
		top: 48px;
		
		/* Body 1 - regular 16 (22, 0.3px) */
		
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		/* or 137% */
		
		letter-spacing: 0.3px;
		
		/* Light / Gray dark */
		
		color: #737B7D;
	
	}
	
	.RulesFlex-content-sstitre-icone{
		position: static;
		width: 32px;
		height: 32px;
		left: 0px;
		top: 0px;
		
		/* Inside Auto Layout */
		
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 16px 0px;
	}
	
	/* LOGO */
	
	.myMainFlexHeader-Logo{
		position: absolute;
		width: 70px;
		height: 32px;
		left: 165px;
		top: calc(50% - 32px/2);
	
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		/* identical to box height, or 133% */
		display: flex;
		align-items: center;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		
		/* Accent / Default */
		
		color: #3C64B1;
	
	}
	
	.myMainFlexHeader-disconnect{
		position: absolute;
		width: 150px;
		height: 32px;
		right: 100px;
		top: calc(50% - 32px/2);
		
		display: flex;
		align-items: center;
	
	}
	
	
	.myMainFlexContent{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		position: absolute;
		width: 540px;
		height: 254px;
		right: 165px;
		top: calc(50% - 254px/2 - 0px);
	}
	
	.myMainFlexContent-titres{
	/* title + text */
	
	/* Auto Layout */
		display: flex;
		flex-direction: column;
	/*	align-items: center;  */
		padding: 0px;
		position: static;
		height: 156px;
		left: 0px;
		right: 0px;
		top: 0px;
	
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		align-self: center;
		flex-grow: 0;
		margin: 0px 0px;
	}
	
	.myMainFlexContent-titre{
		position: static;
		height: 80px;
		left: 0px;
		right: 0px;
		top: calc(50% - 80px/2 - 38px);
	/* H3 - bold 32 (40, 0.1px) */
	
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
	/* or 125% */
	
		letter-spacing: 0.1px;
	
	/* Light / Black */
		color: #373F41;	
		
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;	
		
	}
	
	
	.myMainFlexContent-sstitre{
		position: static;
		height: 44px;
		left: 0px;
		right: 0px;
		top: calc(50% - 44px/2 + 56px);
	
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	/* or 137% */
		letter-spacing: 0.3px;
	/* Light / Gray dark */
		color: #737B7D;
	/*
	/* Inside Auto Layout */
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 32px 0px; 
	}
	
	.myMainFlexContent-boutons{
	/* buttons */
	
	/* Auto Layout */
	
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
	
		position: static;
		width: 242px;
		height: 42px;
		left: 0px;
		top: 212px;
	
	
	/* Inside Auto Layout */
	
		flex: none;
		order: 1;
		align-self: flex-start;
		flex-grow: 0;
		margin: 56px 0px;
	}
	
	
	.myMainFlexContent-bouton-login{
	/* outlined / default */
	
	
	/* Auto Layout */
	
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px 18px;
	
		position: static;
		width: 109px;
		height: 42px;
		left: 133px;
		top: calc(50% - 42px/2);
	
	/* Accent / Default */
	
		border: 1px solid #3C64B1;
		box-sizing: border-box;
	
	/* Inside Auto Layout */
	
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 0px 24px;
	}
	.myMainFlexContent-bouton-login:hover{
    background-color: whitesmoke;
    cursor: pointer;
	}
	.myMainFlexContent-bouton-inscription{
	/* contained / default */
	/* Auto Layout */
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px 18px;
	
		position: static;
		width: 109px;
		height: 42px;
		left: 0px;
		top: calc(50% - 42px/2);
	
	/* Accent / Default */
		background: #3C64B1;
	
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 24px;
	}
	.myMainFlexContent-bouton-inscription:hover{
        background: #2752a0;
        cursor: pointer;
	}
	.myMainFlexContent-bouton-inscription-label{
	/* label */
		position: static;
		height: 18px; 
		left: 18px;
		right: 18px;
		top: calc(50% - 18px/2);
	
	/* Button - bold 14 (18, 0.3px) */
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
	/* identical to box height, or 129% */
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.3px;
	
	/* Light / White */
		color: #FFFFFF;
	
	
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
	}
	
	.myMainFlexContent-bouton-login-label{
	/* label */
		position: static;
		height: 18px;
		left: 18px;
		right: 18px;
		top: calc(50% - 18px/2);
	
	/* Button - bold 14 (18, 0.3px) */
	
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
	/* identical to box height, or 129% */
	
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.3px;
	
	/* Accent / Default */
		color: #3C64B1;
	
	
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
	}
	
	 
	.myMainFlexContent-image{
		position: absolute;
		height: 440px;
		left: 165px;
		right: 735px;
		top: calc(50% - 440px/2);
		background-image: url("../images/02-bloc-inscription-466x440px.png");
	}
	.myMainFlexContent-img{
	position: absolute;
	width: 40px;
	height: 40px;
	left: calc(50% - 40px/2);
	top: calc(50% - 40px/2);
	opacity: 0.5;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	
	
	
	/* column */
	
	
	/* Auto Layout */
	.MenuFlexCol1{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	
		position: absolute;
		width: 255px;
		height: 368px;
		left: calc(50% - 255px/2 - 427.5px);
		top: calc(50% - 368px/2);
	
	}
	.MenuFlexColx-images-pron:hover{
	background-color: whitesmoke;
	}
	.MenuFlexCol2{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	
		position: absolute;
		width: 255px;
		height: 368px;
		left: calc(50% - 255px/2 - 142.5px);
		top: calc(50% - 368px/2);
		
	}
	
	.MenuFlexCol3{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	
		position: absolute;
		width: 255px;
		height: 368px;
		left: calc(50% - 255px/2 + 142.5px);
		top: calc(50% - 368px/2);
	
	}
	
	.MenuFlexCol4{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		display: none;
		position: absolute;
		width: 255px;
		height: 368px;
		left: calc(50% - 255px/2 + 427.5px);
		top: calc(50% - 368px/2);
	
	}
    
    	.MenuFlexCol5{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;

		position: absolute;
		width: 255px;
		height: 368px;
		left: calc(50% - 255px/2 + 427.5px);
		top: calc(50% - 368px/2);
	
	}
	
	.MenuFlexColx-pron-t1{ 
		position: absolute;
		height: 50px;
		left: 60px;
		top: 10px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		text-align : center;
		cursor: pointer;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;
	}
	
	.MenuFlexColx-pron-t2{ 
		position: absolute;
		height: 50px;
		left: 70px;
		top: 170px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-size: 18px;
		line-height: 40px;
		cursor: pointer;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;
	}
	
	.MenuFlexColx-pron-t3{ 
		position: absolute;
		height: 50px;
		left: 70px;
		top: 210px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		color: #48b9c1;
		cursor: pointer;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;

	}
	
	.MenuFlexColx-pron-f1{ 
		position: absolute;
		width: 50px;
		height: 50px;
		left: 55px;
		top: 75px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;
		
	/* Light / Gray dark */
		color: #FFFFFF;
	}
	
	.MenuFlexColx-pron-f2{ 
		position: absolute;
		width: 50px;
		height: 50px;
		left: 155px;
		top: 75px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;
		
	/* Light / Gray dark */
		color: #FFFFFF;
	}
	
	.MenuFlexColx-pron-e1{ 
		position: absolute;
		width: 100px;
		height: 30px;
		left: 45px;
		top: 125px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		cursor: pointer;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;

	}
	
	.MenuFlexColx-pron-e2{ 
		position: absolute;
		width: 100px;
		height: 30px;
		left: 160px;
		top: 125px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 40px;
		cursor: pointer;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;

	}
	
	.MenuFlexColx-avatar{ 
		position: absolute;
		width: 40px;
		height: 40px;
		left: 150px;
		top: 40px;
	}
	.MenuFlexColx-user{ 
		position: absolute;
		width: 130px;
		height: 50px;
		left: 62px;
		top: 80px;
		margin-left:0px;
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.2px;
		
	/* Light / Gray dark */
		color: #FFFFFF;
	}
	.MenuFlexColx-nbpoints{ 
		position: absolute;
		width: 100px;
		height: 40px;
		left: 80px;
		top: 215px;
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 40px;
		/* identical to box height, or 250% */
		
		letter-spacing: 0.3px;
	/* Light / Gray dark */
		color: #FFFFFF;
	}
	.MenuFlexColx-ranking{ 
		position: absolute;
		width: 205px;
		height: 40px;
		left: 27px;
		top: 123px;
		
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 40px;
		/* identical to box height, or 333% */
		
		letter-spacing: 0.3px;
		color: #FFFFFF;
	}
    
    	.MenuFlexColx-rank_lbl{ 
		position: absolute;
		width: 205px;
		height: 20px;
		left: 27px;
		top: 163px;
		
		font-family: Mulish;
		font-style: italic;
		font-weight: bold;
		font-size: 11px;
		line-height: 20px;
		/* identical to box height, or 333% */
		
		letter-spacing: 0.3px;
		color: #FFFFFF;
	}
    
	/* title + text */
	
	.MenuFlexColx-titres{
	/* Auto Layout */
	
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	
		position: static;
		width: 255px;
		height: 76px;
		left: 0px;
		top: 292px;
	
	
	/* Inside Auto Layout */
	
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 0px 0px;
	
	}
	
	.MenuFlexColx-images{
		position: static;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 108px;
		background-color: #e6ecf8;
		height: calc(368px - 108px);
		width:100%;
		vertical-align: bottom;
		/*Inside Auto Layout 
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 32px 0px;*/
	
	}
	.MenuFlexColx-images-pron{
		position: static;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 108px;
		background-color: #fafbfe;
		height: calc(368px - 108px);
		width:100%;
		vertical-align: bottom;
		cursor: pointer;
		/*Inside Auto Layout 
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 32px 0px;*/
	
	}
    
    .MenuFlexCol4-images{
		position: static;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 108px;
		background-image:url("../images/04-zone-vide-connectee-255x260px.png");
		height: calc(368px - 108px);
		width:100%;
        vertical-align: bottom;
        

	}


	.MenuFlexColx-titre{
	/* Mes groupes */
		position: static;
		height: 24px;
		left: 0px;
		right: 0px;
		bottom: 52px;
	
	/* H6 - bold 18 (24. 0.1px) */
	
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	/* identical to box height, or 133% */
	
		text-align: center;
		letter-spacing: 0.1px;
	
	/* Light / Black */
	
		color: #373F41;
	
	
	/* Inside Auto Layout */
	
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 12px 0px;
	}
	
	.MenuFlexColx-sstitre{
		position: static;
		height: 40px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		text-align: center;
	
	/* Body 2 - regular 14 (20, 0.2px) */
	
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
	/*	font-size: 14px;  */
		line-height: 20px;
		/* or 143% */
	
		text-align: center;
		letter-spacing: 0.2px;
	
	/* Light / Black */
	
		color: #373F41;
	
	/* Inside Auto Layout 
	
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 12px 0px; */
	}
	
	/*** VERSION POUR AFFICHAGE TELEPHONE ***/
	.Phone-myMainFlexHeader{
		position: relative;
		height: 44px;
		left: 0px;
		right: 0px;
		top: 0px;
		width: 375px;
        background-image: url("../images/01-entete-375x44px.jpg");
	}
	
	
	.Phone-myMainFlexHeader-Logo{
		position: absolute;
		width: 35px;
		height: 16px;
		left: 16px;
		top: calc(50% - 31px/2);
	
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		/* identical to box height, or 133% */
		display: flex;
		align-items: center;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		
		/* Accent / Default */
		
		color: #3C64B1;
	
	}
	
	.Phone-myMainFlexHeader-disconnect{
		position: absolute;
		width: 50px;
		height: 32px;
		right: 10px;
		top: calc(50% - 32px/2);
		
		display: flex;
		align-items: center;
	
	}
	
	.Phone-myMainFlex{
		position: relative;
		width: 375px;
		height: 480px;
		background-color:#dceef0;
	}
	
	.Phone-myMainFlexContent-image{
		position: absolute;
		height: 220px;
		left: 5px;
		width: 365px;
		right: 5px;
	/*	right: 735px;*/
        top: 5px;
        background-image: url("../images/02-bloc-inscription-355x220px.png");
	}
	.Phone-myMainFlexContent-img{
	position: absolute;
	width: 355px;
	height: 220px;
	left: calc(50% - 355px/2);
	top: calc(50% - 220px/2);
	opacity: 0.1;
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
	}
	
	
	.Phone-myMainFlexContent{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		position: absolute;
		width: 355px;
		height: 254px;
		right: 0px;
		top: 235px; 
	}
	
	
	.Phone-myMainFlexContent-titres{
	/* title + text */
	
	/* Auto Layout */
		display: flex;
		flex-direction: column;
	/*	align-items: center;  */
		padding: 0px;
		position: static;
		height: 156px;
		left: 0px;
		right: 0px;
		top: 0px;
	
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		align-self: center;
		flex-grow: 0;
		margin: 0px 0px;
	}
	
	
	.Phone-myMainFlexContent-titre{
		position: relative;
		height: 80px;
		left: 0px;
		right: 0px;
		top: calc(50% - 80px/2 - 38px);
	/* H3 - bold 32 (40, 0.1px) */
	
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		line-height: 34px;
	/* or 125% */
	
		letter-spacing: 0.1px;
	
	/* Light / Black */
		color: #373F41;	
		
	/* Inside Auto Layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;	
		
	}
	
	
	.Phone-myMainFlexContent-sstitre{
		position: relative;
		height: 44px;
		left: 0px;
		right: 0px;
		/* top: calc(50% - 44px/2 + 56px); /*
	
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	/* or 137% */
		letter-spacing: 0.3px;
	/* Light / Gray dark */
		color: #737B7D;
	/*
	/* Inside Auto Layout */
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 32px 0px; 
	}
	
	
	.Phone-myMainFlexContent-boutons{
		/* buttons */
		
		/* Auto Layout */
		
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0px;
		
			position: static;
			width: 242px;
			height: 42px;
			left: 0px;
			top: 212px;
		
		
		
		/* Inside Auto Layout */
		
			flex: none;
			order: 1;
			align-self: flex-start;
			flex-grow: 0;
			margin: 0px 0px;
		}
		
		
		.myMainFlexContent-bouton-login{
		/* outlined / default */
		
		
		/* Auto Layout */
		
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 12px 18px;
		
			position: static;
			width: 109px;
			height: 42px;
			left: 133px;
			top: calc(50% - 42px/2);
		
		/* Accent / Default */
		
			border: 1px solid #3C64B1;
			box-sizing: border-box;
		
		/* Inside Auto Layout */
		
			flex: none;
			order: 1;
			flex-grow: 0;
			margin: 0px 24px;
		}
		.myMainFlexContent-bouton-login:hover{
		background-color: whitesmoke;
		}
		.myMainFlexContent-bouton-inscription{
		/* contained / default */
		/* Auto Layout */
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 12px 18px;
		
			position: static;
			width: 109px;
			height: 42px;
			left: 0px;
			top: calc(50% - 42px/2);
		
		/* Accent / Default */
			background: #3C64B1;
		
		/* Inside Auto Layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 24px;
		}
		.myMainFlexContent-bouton-inscription:hover{
			background: #2752a0;
		}
		.myMainFlexContent-bouton-inscription-label{
		/* label */
			position: static;
			height: 18px; 
			left: 18px;
			right: 18px;
			top: calc(50% - 18px/2);
		
		/* Button - bold 14 (18, 0.3px) */
			font-family: Mulish;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
		/* identical to box height, or 129% */
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: 0.3px;
		
		/* Light / White */
			color: #FFFFFF;
		
		
		/* Inside Auto Layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 0px;
		}
		
		.myMainFlexContent-bouton-login-label{
		/* label */
			position: static;
			height: 18px;
			left: 18px;
			right: 18px;
			top: calc(50% - 18px/2);
		
		/* Button - bold 14 (18, 0.3px) */
		
			font-family: Mulish;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
		/* identical to box height, or 129% */
		
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: 0.3px;
		
		/* Accent / Default */
			color: #3C64B1;
		
		
		/* Inside Auto Layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 0px;
		}
		
		.Phone-MenuFlex{
			position: relative;
			width: 375px;
			height: auto;
			background: #FFFFFF;
		}
	
		.Phone-MenuFlexColx{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 5px;
	
			position: relative;
			width: 255px;
			height: 368px;
			border-bottom:solid;
			/*
			left: calc(50% - 255px/2);
			top: calc(50% - 368px/2);
		*/
		}
		
	
	
	
	
	.Phone-RulesFlex{
		position: relative;
		width: 375px;
		height: 880px;
		background: #faf7f7;
		}
	
	
	.Phone-RulesFlex-images{
		position: relative;
		height: 345px;
		width: 345px;
		top: 115px;
	/*	left: 15px;
		right: 165px;
        top: calc(50% - 440px/2); */
        background-image: url("../images/07-regles-345x345px.png");
	}
	.Phone-RulesFlex-img{
		position: absolute;
		width: 40px;
		height: 40px;
		left: calc(50% - 40px/2);
		top: calc(50% - 40px/2);
	}
	
	.Phone-RulesFlex-content{
	/* content */
		
	/* Auto Layout */
	
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
	
		position: absolute;
		width: 540px;
		height: 290px;
		left: 165px;
		top: calc(50% - 290px/2);
	
	}
	
	.Phone-RulesFlex-content-titre{
		position: relative;
		height: 150px;
		left: 15px;
		right: 0px;
		top: 25px;
		
		/* H3 - bold 32 (40, 0.1px) */
		
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 36px;
		/* or 125% */
		
		letter-spacing: 0.1px;
		
		/* Light / Black */
		
		color: #373F41;
	
	
	}
	
	
	.Phone-RulesFlex-content-cols{
	/* Auto Layout */
	
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		align-content: space-around;
		position: relative;
		height: 230px;
		left: 0px;
		right: 0px;
		top: 10px;
	
	}
	
	.Phone-RulesFlex-content-col{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
		
		position: static;
		width: 300px;
		height: 114px;
		left: 285px;
		top: 0px;
	
	}
	
	.Phone-RulesFlexMargin{
		margin: 0px 30px;	
	}
	
	.Phone-RulesFlex-content-sstitre{
		
		position: static;
		height: 66px;
		left: 0px;
		right: 0px;
		top: 48px;
		
		/* Body 1 - regular 16 (22, 0.3px) */
		
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		/* or 137% */
		
		letter-spacing: 0.3px;
		
		/* Light / Gray dark */
		
		color: #737B7D;
	
	}
	
	.Phone-RulesFlex-content-sstitre-icone{
		position: static;
		width: 32px;
		height: 32px;
		left: 0px;
		top: 0px;
		
		
		/* Inside Auto Layout */
		
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 16px 0px;
	}
	
	.QSnodisplay{
		display: none;
	}


.fontYnoveo{
    font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	/* or 137% */
	
	letter-spacing: 0.2px;
	
	/* Light / Gray dark */
	
	color: #737B7D;
}